/.idea
/.project
/.settings
/.settings/org.eclipse.m2e.core.prefs
/teammanager-desktop/.settings
/teammanager-desktop/.classpath
/teammanager-desktop/.project
/teammanager-desktop/target
/teammanager-core/.settings
/teammanager-core/.classpath
/teammanager-core/.project
/teammanager-core/target
/teammanager-backend-api/.settings
/teammanager-backend-api/target
/teammanager-backend-api/.project
/teammanager-backend-api/.classpath
/teammanager-backend-app/.settings
/teammanager-backend-app/target
/teammanager-backend-app/.project
/teammanager-backend-app/.classpath
teammanager.iml
teammanager-desktop/teammanager-desktop.iml
teammanager-core/teammanager-core.iml
teammanager-backend-app/teammanager-backend-app.iml
teammanager-backend-api/teammanager-backend-api.iml
